<<<template "head.html">>>

<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-12">
                <h1 class="page-title">关于 我</h1>
                <article class="post">
                    <div class="entry-content clearfix">

                        <p style="text-align: center">
                            <img src='https://ws1.sinaimg.cn/large/006tNbRwgy1fymhgb13gbj30h00aet9h.jpg' alt='' referrerPolicy='no-referrer' />
                        </p>
                        <h3>关于我</h3>
                        <p>Hi</p>

                        <div class="height-40px"></div>

                    </div>
                </article>
            </main>
        </div>
    </div>
</div>
</div>

<script src="/static/js/about.js"></script>

<<<template "footer.html">>>

</body>
</html>
