<<<template "head.html">>>

<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-12">
                <h1 class="page-title">关于 我</h1>
                <article class="post">
                    <div class="entry-content clearfix">

                        <p style="text-align: center">
                            <img src='https://ws1.sinaimg.cn/large/006tNbRwgy1fymhgb13gbj30h00aet9h.jpg' alt='' referrerPolicy='no-referrer' />
                        </p>
                        <h3>关于我</h3>
                        <p>Hi，我是梁燕东，一个不起眼的大学里，曾经因为毕业在即好长一段时间心里慌得一P，最终选择了一家JAVA培训机构开始半年的闭关修炼，凭着年轻气盛的劲和几个小伙伴前往魔都开启了成为码农的人生。</p>
                        <blockquote><p>目前专职于JAVA后端服务的设计和构架工作</p>
                            <p>作为一个纯技术人，喜欢研究研究技术，撸撸代码</p>
                            <p>也努力试着慢慢地打开社交度，产品也好，需求也好都需要具备的</p>
                            <p>年轻人还是要多学习，我想通过博客方式把知识分类、记录、分享...^_^</p>
                        </blockquote>
                        <h4>我的社交</h4>
                        <ul>
                            <li>GitHub:关于我的 <a href='https://github.com/liangyd1024'>开源博客goblog</a></li>
                            <li>Wechat: marco-lyd</li>

                        </ul>
                        <p>&nbsp;</p>

                        <div class="height-40px"></div>

                    </div>
                </article>
            </main>
        </div>
    </div>
</div>
</div>

<script src="/static/js/about.js"></script>

<<<template "footer.html">>>

</body>
</html>
