<<<template "head.html">>>

    <div class="content-body">
        <div class="container">
            <div class="row">
                <main class="col-md-8">

                    <<<template "articles.html">>>

                    <!-- 简单分页效果
                    <div class="pagination-simple">
                        <a href="#">上一页</a>
                        <span class="current">第 6 页 / 共 11 页</span>
                        <a href="#">下一页</a>
                    </div>
                    -->
                    <!--
                    <div class="pagination">
                        <ul>
                            <li class="current"><a href="">1</a></li>
                            <li><a href="">...</a></li>
                            <li><a href="">4</a></li>
                            <li><a href="">5</a></li>
                            <li ><a href="">6</a></li>
                            <li><a href="">7</a></li>
                            <li><a href="">8</a></li>
                            <li><a href="">...</a></li>
                            <li><a href="">11</a></li>
                        </ul>
                    </div>
                    -->
                </main>

                <<<template "aside.html">>>

            </div>
        </div>
    </div>

    <div>
        <div class="fc top">
            <a href="#top">top</a>
        </div>
    </div>

</div>

<script src="/static/js/index.js"></script>

<<<template "footer.html">>>

</body>
</html>