
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <meta name="keywords" content="Golang,VueJs,个人博客,后台管理,响应式后台">
    <meta name="description" content="goblog是一个完全响应式，基于Go语言和VueJs最新版本开发的个人博客管理系统">
    <meta name="referrer" content="no-referrer">

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->
    <title><<< appName >>></title>

    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link href="/static/css/hplus/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/static/css/hplus/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/static/css/hplus/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="/static/js/frame/hplus/plugins/gritter/jquery.gritter.css" rel="stylesheet">
    <link href="/static/css/hplus/animate.min.css" rel="stylesheet">
    <link href="/static/css/hplus/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="/static/css/hplus/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/static/css/hplus/plugins/toastr/toastr.min.css" rel="stylesheet">



    <script src="/static/js/frame/hplus/jquery.min.js?v=2.1.4"></script>
    <script src="/static/js/frame/hplus/bootstrap.min.js?v=3.3.6"></script>
    <script src="/static/js/frame/hplus/content.min.js?v=1.0.0"></script>
    <script src="/static/js/frame/hplus/plugins/layer/layer.min.js"></script>
    <script src="/static/js/frame/hplus/plugins/iCheck/icheck.min.js"></script>
    <script src="/static/js/frame/hplus/plugins/toastr/toastr.min.js"></script>

    <script src="/static/js/frame/axios/axios.min.js"></script>
    <script src="/static/js/frame/vue/vue.js"></script>

    <script src="/static/js/component/base.js"></script>
    <script src="/static/js/component/nav-vue.js"></script>
    <script src="/static/js/component/search.js"></script>

